<% if comment.persisted? %>
  <div class="comment-replies rounded" >
    <div class="comment">
      <div class="comment-group-left">
        <div class="comment-left">
          <%= image_tag(comment.user.image, size: "45", class: "rounded") %>
          <button type="button" class="btn btn-sm btn-control btn-reply" id="btn-reply_<%=comment.id %>">Reply</button>
        </div>
        <div class="comment-right">
          <strong><%= comment.user.name %></strong>
          <div class="comment-body">
            <%= comment.body %>
          </div>
        </div>
      </div>

      <div class="comment-control">
        <% if comment.user == current_user %>
          <%= link_to [comment.vinyl, comment],
                      method: :delete,
                      data: {confirm: 'Are you sure?'} do %>
            <i class="material-icons md-dark delete" data-toggle="tooltip" data-placement="left" title="Delete Comment">clear</i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="display-replies">
      <div class="form-reply" id="form-reply_<%=comment.id%>" style="display:none">
        <%= render '/comments/form', comment: comment %>
      </div>
    </div>
  </div>

<% end %>


