  <div class="comment rounded">
    <div class="comment-left">
      <%= image_tag(comment.user.image, size: "45", class: "rounded") %>
    </div>
    <div class="comment-right">
      <strong><%= comment.user.name %></strong>
      <div class="comment-body">
        <%= comment.body %>
        <a onclick="document.getElementById('reply_form').style.display = 'block'">Reply</a>
        <div id="reply_form" style="display:none">
          <%= render '/comments/form', comment: comment %>
        </div>
      </div>
    </div>


    <% if comment.user == current_user %>
      <div class="comment-control">
        <%= link_to [comment.vinyl, comment],
                    method: :delete,
                    data: {confirm: 'Are you sure?'} do %>
          <i class="material-icons md-dark" data-toggle="tooltip" data-placement="left" title="Delete Comment">delete_forever</i>
        <% end %>
      </div>
    <% end %>

  </div>

