
<%= form_with model: @vinyl, local: true do |form| %>

  <% if @vinyl.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@vinyl.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @vinyl.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :album_title %><br>
    <%= form.text_field :album_title %>
  </p>

  <p>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>