<%= form_with model: @vinyl, local: true do |form| %>

  <% if @vinyl.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@vinyl.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @vinyl.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="submit">
    <div class="form">

      <div class="form-fill" >
        <p>
          <%= form.label "Album"%><br>
          <%= form.text_field :album_title, required: true ,class:"form-control", autocomplete: "off" %>
        </p>

        <p>
          <%= form.label :artist %><br>
          <%= form.text_field :artist, required: true ,class:"form-control", autocomplete: "off"%>
        </p>

        <p>
          <%= form.label :description %><br>
          <%= form.text_area :description , class:"form-control", rows:"3", autocomplete: "off"%>
        </p>

        <p>
          <%= form.label :image, 'Cover' %><br>
          <%= form.file_field :image, direct_upload: true, accept: 'image/png,image/gif,image/jpeg', required: true, id:"form-cover" %>
        </p>

        <% if @vinyl.image.attached? %>
          <%= image_tag @vinyl.image%>
        <% end %>
      </div>


      <div class="form-preview" >
        <div class="rounded" id="form-preview">

        </div>
      </div>

    </div>

    <%= form.submit "Submit", class:"btn-lg btn-control btn-submit" %>

  </div>

<% end %>