<h1>Edit your vinyl</h1>

<%= form_with model: @vinyl, local: true do |form| %>

  <p><h1><%= @vinyl.album_title %></h1>

  <p>
    <%= @vinyl.artist %>
  </p>

  <% if @vinyl.image.attached? %>
    <p>
      <%= image_tag @vinyl.image.variant(resize: "500x500")%>
    </p>
  <% end %>
  
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit "Submit"%>
  </p>

<% end %>

<%= link_to 'Back', vinyls_path %>