<%= link_to new_vinyl_path do %>
  <div class="fixed-action-btn">
    <div class="btn-floating btn-large waves-effect waves-light">
      <i class="material-icons">add</i>
    </div>
  </div>
<% end %>

<div class="vinyls" align="center">
  <% @vinyls.each do |vinyl| %>
    <%= link_to vinyl_path(vinyl) do %>
      <div class="vinyl shadow rounded">
        <% if vinyl.image.attached? %>
          <%= image_tag(vinyl.image.variant(resize: "300x300"), class: "img-fluid cover") %>
        <% end %>
        <div class="vinyl-overlay">
          <div class="album-title-overlay text-capitalize text-truncate"><%= vinyl.album_title %></div>
          <div class="artist-overlay text-capitalize text-truncate"><%= vinyl.artist %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



<table>
  <tr>
    <th>Cover</th>
    <th>Album</th>
    <th>Artist</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @vinyls.each do |vinyl| %>
    <tr>
      <% if vinyl.image.attached? %>
        <td>
          <%= link_to vinyl_path(vinyl) do %>
            <%= image_tag vinyl.image.variant(resize: "200x200") %>
          <% end %>
        </td>
      <% end %>
      <td><%= vinyl.album_title %></td>
      <td><%= vinyl.artist %></td>
      <td><%= vinyl.description %></td>

      <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
      <td><%= link_to 'Delete', vinyl_path(vinyl),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
