<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e2f2f7;">
  <a class="navbar-brand" href="#">needl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >

  </div>
</nav>

<h1>needl</h1>
<h1>All the vinyls we need</h1>

<%= link_to 'Submit a new vinyl', new_vinyl_path %>
  <div class="vinyls" align="center">
    <% @vinyls.each do |vinyl| %>
      <div class="vinyl">
        <% if vinyl.image.attached? %>
          <%= link_to vinyl_path(vinyl) do %>
            <%= image_tag(vinyl.image.variant(resize: "300x300"), class: "img-fluid") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>



<table>
  <tr>
    <th>Cover</th>
    <th>Album</th>
    <th>Artist</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @vinyls.each do |vinyl| %>
    <tr>
      <% if vinyl.image.attached? %>
        <td>
          <%= link_to vinyl_path(vinyl) do %>
            <%= image_tag vinyl.image.variant(resize: "200x200") %>
          <% end %>
        </td>
      <% end %>
      <td><%= vinyl.album_title %></td>
      <td><%= vinyl.artist %></td>
      <td><%= vinyl.description %></td>

      <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
      <td><%= link_to 'Delete', vinyl_path(vinyl),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
