<p>
  <h1><%= @vinyl.album_title %></h1>
</p>

<p>
  <%= @vinyl.artist %>
</p>

<p>
  <%= @vinyl.description %>
</p>

<h2>Comments</h2>
<%= render @vinyl.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>