<div class="vinyl-details-container">
  <div class="show">
    <div class="show-cover ">
      <% if @vinyl.image.attached? %>
        <%= image_tag @vinyl.image.variant(resize: "500x500"), class: "img-fluid shadow rounded" %>
      <% end %>
    </div>

    <div class="show-info">
      <div class="info-top">
        <div class="info-primary">
          <h1><%= @vinyl.album_title %></h1>
          <h5>
            <%= @vinyl.artist %>
          </h5>
        </div>
        <div class="info-user">
          <%= link_to user_path(@vinyl.user) do %>
            <div class="user-profile">
              <a class="username"> <%= @vinyl.user.name %></a>
              <%= image_tag @vinyl.user.image, size: "45", class: "rounded" %>
            </div>
          <% end %>
          <div class="control-panel">
            <% if @vinyl.user == current_user %>
              <%= link_to 'Edit', edit_vinyl_path(@vinyl), class: " btn-sm btn-control btn-edit" %>
              <%= link_to 'Delete', vinyl_path(@vinyl),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}, class: " btn-sm btn-control btn-delete" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="info-body">
        <p>
          <%= @vinyl.description %>
          <% artist=@wrapper.search(@vinyl.artist, :per_page => 1, :type => :artist).results.first %>
          <%# album=@wrapper.search(@vinyl.album_title, :per_page => 1, :type => :release).results.first %>
          <% unless artist.nil? %>
            <%=@wrapper.get_artist(artist.id).profile%>
          <% end %>
          <br>
          <br>
          <%#album=@wrapper.get_artist_releases(artist.id).releases.first%>
          <%# unless album.nil? %>
            <%# (1..album.tracklist.size-1).each do |each|%>
              <%#album.tracklist[each].title %>
              <br>
            <%# end %>
          <%# end %>
        </p>
      </div>

      <div class="info-bot">
        <div class="info-extended">
          <%= link_to need_vinyl_path(@vinyl), class: "btn btn-lg btn-block btn-success btn-need", method: :put do %>
            NEED
          <% end %>

          <%= link_to nevermind_vinyl_path(@vinyl), class: "btn btn-lg btn-block btn-warning btn-nevermind", method: :put do %>
            NEVERMIND
          <% end %>
        </div>
        <div class="backers"><%= @vinyl.get_upvotes.size %> people need this vinyl</div>
      </div>
    </div>
  </div>
</div>


<div class="comments-section">
  <div class="comments-submit">
    <h2>Add a comment:</h2>
    <%= render 'comments/form', comment: nil %>

    <h2>Comments</h2>
    <%= comments_tree_for @comments %>
  </div>
</div>


