<p>
  <strong><%= @vinyl.album_title %></strong>
</p>

<p>
  <strong>Description:</strong>
  <%= @vinyl.description %>
</p>

<h2>Comments</h2>
<%= render @vinyl.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>