<div class="show-top">

  <div class="show-cover">
    <% if @vinyl.image.attached? %>
      <%= image_tag @vinyl.image.variant(resize: "500x500"), class: "img-fluid shadow rounded" %>
    <% end %>
  </div>

  <div class="show-info">
    <h1><%= @vinyl.album_title %></h1>
    <p>
      <%= @vinyl.artist %>
    </p>
    <p>
      <%= @vinyl.description %>
    </p>
  </div>

</div>

<div class="show-comments">
  <h2>Comments</h2>
  <%= render @vinyl.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>



<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>