<div class="user">
  <div class="user-profile">
    <h2 class="user-name"><%= @user.name %> </h2>
    <%= image_tag(@user.image, size: "80", class: "user-pic rounded-circle") %>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'Submissions', user_path(@user, filter: "submissions"), class: "filter-submissions nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Following', user_path(@user, filter: "following"), class: "filter-following nav-link" %>
    </li>
  </ul>
  <div class="user-vinyls">
    <%= render 'vinyls/grid' %>
  </div>
</div>
