<!DOCTYPE html>
<html>
  <head>
    <title>needl</title>
    <%= favicon_link_tag 'NeedlLogo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <%= link_to vinyls_path do %>
      <% image_tag "NeedlLogo.png", class: "navbar-logo" %>
    <% end %>
    <%= link_to "needl", vinyls_index_path, class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="navbar-text my-navbar-text">
        All the records we need
      </span>

      <%= link_to 'Search', vinyls_index_path(filter: "search") %>

      <div class="login ml-auto">
        <% if current_user %>
          Signed in as
          <div class="btn-group btn-profile">
            <!--<button type="button" class="btn btn-outline-light"><%# current_user.name %></button>-->
            <%= link_to user_path(current_user), class:"btn btn-outline-light", method: :get do %>
              <%=current_user.name%>
            <% end %>
            <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>
              <%= link_to "Sign out", signout_path, id: "sign_out", class:"dropdown-item" %>
            </div>
          </div>

        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class:"btn-login btn btn-outline-light"%>
        <% end %>
      </div>
    </div>
  </nav>



  <div>
    <%= yield %>
  </div>

  </body>
</html>
